<div class="footer-root">
    <hr class="solid footer-div">
    <div class="footer-nav-root">
        <div class="footer-prev">
            {{ with .NextInSection }}
                <a class="content-header-nav-link arrow-nav" href="{{ .RelPermalink }}">
                    <i class='icon-arrow-left'></i>
                </a>
            {{end}}
        </div>
        <div class="footer-nav">
            {{ range .Site.Menus.footer }}
            <a class="content-header-nav-link" href="{{ .URL }}">
                {{.Name}}
            </a>
            {{ end }}
        </div>
        <div class="footer-next">
            {{ with .PrevInSection }}
                <a class="content-header-nav-link" href="{{ .RelPermalink  }}">
                    <i class='icon-arrow-right arrow-nav'></i>
                </a>
            {{end}}
        </div>
    </div>
</div>
