.content {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    justify-content: stretch;
    font-family: var(--body-font);
}
.footer-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0px;
}

.footer-nav-root {
    margin-bottom: 7px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-prev {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}
.footer-nav {
    display: flex;
    align-items: center;
    flex: 20;
    justify-content: center;
}
.footer-next {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.footer-nav-root .content-header-nav-link{
    font-family: Roboto;
}

.text-area{
    overflow-y: scroll;
    padding: 32px 72px 0px 72px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: start;
    width: calc(100vw - 260px);
    height: auto;
}


.row {
    padding: 0px;
    margin: 0px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}

.content-area .h3{
    font-size: 20px !important;
}

.content-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    flex: 1 1 0px;
    padding-right: 36px;
    min-width: 250px;
}

.example-area {
    margin-top: 56px;
    margin-bottom: 72px;
    padding-left: 36px;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    align-self: flex-start;
    flex-direction: column;
    justify-content: start;
    flex: 1 1 0px;
    min-width: 250px;
}

.highlight{
    border: 0px;
    padding: 0px;
    background-color: var(--grey200);
    font-size: 15px;
    overflow: visible;
}

.code-block {
    padding: 1rem 1rem 0rem 1rem;
    background-color: var(--grey200);
}

.highlight code{
    font-family: Source Code Pro;
}

.example{
    top: 0px;
    bottom: 0px;
    max-height: inherit;
    background-color: var(--grey200);
    max-height: 50vh;
    min-width: 250px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}
.example pre {
    background-color: inherit;
    overflow: unset;
}
.scroll {
    max-height: inherit;
    overflow: auto;
    border-radius: 10px;
}

#scroll-wrap{
    overflow: hidden;
}

.content-textbox{
    padding: 16px;
    max-height: inherit;
}

.text-area .chroma .lntable {
    overflow-y: hidden;
    overflow-x: auto;
}

.text-area figure {
    width: 80%;
}
.text-area img {
    width: 100%;
}

.text-area .scaled figure{
    padding: 16px 0px;
    width: 100%;
}

.text-area ol{
    padding-inline-start: 16px;
}

@media (max-width: 62.5em) {
    .example-area {
        position: inherit;
        margin-top: 56px;
        margin-bottom: 72px;
        padding-left: 0;
        z-index: 1;
        top: 0px;
        bottom: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;        
        align-self: flex-start;
        flex-direction: column;
        justify-content: start;
        flex: 1 1 0px;
        width: 100%;
    }
    .text-area figure {
        width: 100%;
    }
    .showing-nav.content {
        display: none;
    }
    .text-area{
        padding: 7px 14px;
        width: 100%;

    }

    .example-area {
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 0px;
    }

    .content{
        width: 100vw;
    }

    .footer-nav{
        display: none;
    }

}